*{
    margin: 0;
    padding: 0;
}
.header {
    background: linear-gradient(90deg, #773702, #915702);
    text-align: center;
    color: white;
    padding: 40px 20px;
}
.superSection{
    background-color: rgb(243, 233, 233);
    text-align: center;
    color: black;
    padding: 20px 10px;
}
.superSection a{
    background-color: #774904;
    border-radius: 5px;
    margin-top: 10px;
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: white;
    position: sticky;
}
.menu li{
    margin: 5px;
}
.menu a{
    display: block;
    text-align: center;
    color: black;
}
.menu a:hover{
    background-color: gray;
    color: yellow;
}
.container{
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.container h2{
    margin-left: 20px;
    border-left: 2px soild black;
}
.card #card-item:hover{
    transform: rotateY('-8px');
    box-shadow: 10px 5px whitesmoke;
}
.card #card-item{
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1;
    transition: transform 0.3s;
    position: relative;
}
#card-item h3 {
    margin-bottom: 10px;
}

#card-item #bestseller {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.footer{
    background-color: rgb(61, 24, 0);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.reviews{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.reviews article.review-card{
    background: white;
    border-radius: 8px;
    box-shadow: 0px 10px 10px whitesmoke;
    padding: 20px;
    margin: 30px;
}
.reviews h2{
    margin-left: 30px;
    border-left: 10px soild black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: rgb(129, 49, 2);
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}
h2{
    border-left:3px solid #773702;
}
.form-card {
width: 100%;
background: #fff;
border-radius: 12px;
box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.booking-form {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

.form-group {
display: flex;
flex-direction: column;
}

input, textarea {
padding: 10px;
border: 1px solid #ccc;
border-radius: 6px;
font-size: 16px;
transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
border-color: #c19a6b;
box-shadow: 0 0 0 3px rgba(193,154,107,0.25);
outline: none;
}

.span-2 {
grid-column: span 2;
}

button {
width: 100%;
padding: 12px;
background: #8b5e34;
color: #fff;
border: none;
border-radius: 999px;
font-size: 16px;
cursor: pointer;
transition: background 0.3s;
}

button:hover {
background: #c19a6b;
}
